
spark-3.3.2-bin-hadoop3/

1. Journey Data Extract 05Jan14-02Feb14.csv

10a. Journey Data Extract 14Sep14-27Sep14.csv

10b. Journey Data Extract 28Sep14-11Oct14.csv

11a. Journey Data Extract 12Oct14-08Nov14.csv

11b. Journey Data Extract 12Oct14-08Nov14.csv

12a. Journey Data Extract 09Nov14-06Dec14.csv

12b. Journey Data Extract 09Nov14-06Dec14.csv

13a. Journey Data Extract 07Dec14-21Dec14.csv

13b. Journey Data Extract 22Dec14-03Jan15.csv

14. Journey Data Extract 08Dec13-04Jan14.csv

2. Journey Data Extract 03Feb14-01Mar14.csv

3. Journey Data Extract 02Mar14-31Mar14.csv

4. Journey Data Extract 01Apr14-26Apr14.csv

5. Journey Data Extract 27Apr14-24May14.csv

6. Journey Data Extract 25May14-21Jun14.csv

7. Journey Data Extract 22Jun14-19Jul14.csv

8a Journey Data Extract 20Jul14-31Jul14.csv

8b Journey Data Extract 01Aug14-16Aug14.csv

9a Journey Data Extract 17Aug14-31Aug14.csv

9b Journey Data Extract 01Sep14-13Sep14.csv

cyclehireusagestats-2014.zip

spark-3.3.2-bin-hadoop3.tgz
